body {
	width:760px;
	margin:40px auto;
	font-family: Helvetica;
	background-color: #ffff1a;
}

h1 {
	border-bottom:1px solid #dedede;
	margin-bottom:20px;
	padding-bottom:20px;
	background-color:yellow;
}

div {

	background-color:yellow;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}